.instafeed-link {

	position: relative;
	display: block;

	.instafeed-details {
		@include transition-property(all);
		@include transition-duration(0.5s);
		@include transition-timing-function(cubic-bezier(x1, y1, x2, y2));
		opacity: 0;
	}

	&:hover {
		.instafeed-details {
			opacity: 1;
		}
	}

}