---
title: "8.3"
template: true
body-class: "photo"
layout: default.hbs
---

{{> _intro-content }}

<section>

	<ul>
		<li ng-repeat="p in pics | orderBy: orderBy">
			<a href="{{p.link}}" target="_blank">
				<img ng-src="{{p.images.low_resolution.url}}" class="img-responsive thumbnail" title="{{p.caption.text}}">
			</a>
			<span>
				{{p.likes.count}}
			</span>
		</li>
	</ul>

</section>

<div>
	<a id="js-load-more-btn" class="load-more-btn" href="//www.instagram.com/8dot3">
		Load More
	</a>
</div>