---
title: "8.3"
template: true
body-class: "photo"
layout: default.hbs
---

{{> _intro-content }}

<section>

	<div id="instafeed">
	</div>

</section>

<div>
	<a id="js-load-more-btn" class="load-more-btn" href="//www.instagram.com/8dot3">
		Load More
	</a>
</div>