.photo-item-details {

	background-color: rgba(0, 0, 0, 0.45);

	padding: 3%;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	h2 {
		font-family: $sans-serif;
		color: $white;
		line-height: 1em;
		padding: 0;
		margin: 0;
		@include em_fontsize(30);
	}

	p {
		font-family: $sans-serif;
		color: $white;
		line-height: 1em;
		margin-top: 0.5em;
		@include em_fontsize(15);
	}

}