.photo-item-link {

	position: relative;
	display: block;

	.photo-item-details {
		opacity: 0;
		@include transition-property(all);
		@include transition-duration(0.5s);
		@include transition-timing-function(cubic-bezier(x1, y1, x2, y2));
	}

	&:hover {
		.photo-item-details {
			opacity: 1;
		}
	}

}