.photo-item-img {

	border: 0.25em solid transparent;
	width: 100%;
	height: auto;

	@include transition-property(opacity);
	@include transition-duration(1s);

	&.unveil {
		opacity: 0;
	}

	&.unveiled {
		opacity: 1;
	}

}