.navmenu-offcanvas {

    padding: 20px 10px 20px 20px;
    display: none;

    p {
    	padding: 1px 5px;
    }

    .tags-description {
    	font-size: 25px;
    	font-weight: 300;
    }

    &.in {
    	display: block;
    }
}