$site-header-bg-color: $black;
$site-header-text-color: $white;
$site-header-default-font: $sans-serif;

.site-header {

	background: $site-header-bg-color;
	font-family: $site-header-default-font;
	text-align: center;
	color: $site-header-text-color;
	padding: 1%;

	position: relative;

	h1 {
		font-size: 1em;
		color: $site-header-text-color;
		display: inline-block;
	}

	.info-link {
		font-size: 1em;
		color: $site-header-text-color;
		float: right;
		cursor: pointer;
	}

}