<!doctype html>
<html class="no-js" data-ng-app="eightdotthreeApp">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

		<title>8.3</title>

		<link href="//fonts.googleapis.com/css?family=Roboto:400,500,700,300,400italic" rel="stylesheet" type="text/css">

		<link rel="stylesheet" href="css/f67b4a1d.main.css">

		<script src="js/plugins/339920c3.modernizr.js"></script>
	</head>

	<body>

		<!--
		<header class="site-header" data-ng-controller="EightdotthreeSiteHeaderController as cont">
			<h1>
				<a class="info-link" data-ng-click="cont.toggleInfo()">8.3</a>
			</h1>
			<div id="js-intro-content" class="intro-content">
				<p>
					Hi, I am Ryan. I enjoy traveling, riding bikes, amusement parks, home brewing, and teaching <a href="//www.facebook.com/penelopepugdog">Penelope pug</a> the difference between good and evil. This is my website. You can also find me on <a href="//twitter.com/8dot3" title="Find me on Twitter">Twitter</a>, <a href="//instagram.com/8dot3/" title="Find me on Instagram">Instagram</a>, and <a href="//linkedin.com/ryansprake" title="Find me on LinkedIn">LinkedIn</a>.
				</p>
			</div>
		</header>
		-->

		<div id="canvas" class="canvas">

			<nav class="navbar navbar-inverse navbar-fixed-top">

			  <div class="container">

			    <div class="navbar-header">
			      <a class="navbar-brand" href="#/">::::.:.</a>
			    </div>

		      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-autohide="false" data-disable-scrolling="false" data-canvas="#canvas">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>

			  </div>

			</nav>

			<section class="container-photos container-fluid" data-ng-view>

			</section>

		</div>

		<aside id="#navmenu" class="navmenu navmenu-default navmenu-offcanvas navmenu-fixed-right">

			<div class="row">

				<div class="col-sm-12">

					<p class="tags-description">
						I used these #hashtags but didn't take the photos.
					</p>

					<nav data-ng-controller="EightdotthreeHashtagsController as cont">

				      	<ul class="tags">
				      		<a class="btn btn-link btn-tag btn-xs" data-ng-repeat="tag in cont.tags" data-ng-class="{ active: isActive('/tag/{{ tag }}') }" data-ng-href="#/tag/{{tag}}">
				      			<span class="hashtag">#</span><span data-ng-bind="tag"></span>
				      		</a>
				      	</ul>

				      	<p data-ng-hide="cont.tags.length > 0">No #hashtags to display. <a href="#/">Load my photos and see some #hashtags.</a></p>

				    </nav>

			  </div>

	  	</div>

		</aside>

		<script src="js/254e461c.main.js"></script>

		<script>

			$(function() {

				$(window).on('scroll', $.proxy(function(event) {
					console.log(event);
				}, this));

			});

		</script>

	</body>
</html>