<!doctype html>
<html class="no-js" data-ng-app="eightdotthreeApp">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

		<title>8.3</title>

		<link href="//fonts.googleapis.com/css?family=Roboto:400,500,700,300,400italic" rel="stylesheet" type="text/css">

		<link rel="stylesheet" href="css/main.css">

		<script src="js/plugins/modernizr.js"></script>
	</head>

	<body>

		<header class="site-header" data-ng-controller="EightdotthreeSiteHeaderController as cont">
			<h1>
				<a class="info-link" data-ng-click="cont.toggleInfo()">8.3</a>
			</h1>
			<div id="js-intro-content" class="intro-content">
				<p>
					Hi, I am Ryan. I enjoy traveling, riding bikes, amusement parks, home brewing, and teaching <a href="//www.facebook.com/penelopepugdog">Penelope pug</a> the difference between good and evil. This is my website. You can also find me on <a href="//twitter.com/8dot3" title="Find me on Twitter">Twitter</a>, <a href="//instagram.com/8dot3/" title="Find me on Instagram">Instagram</a>, and <a href="//linkedin.com/ryansprake" title="Find me on LinkedIn">LinkedIn</a>.
				</p>
			</div>
		</header>

		<section class="container-fluid" data-ng-controller="EightdotthreeController as cont">

			<ul class="clearfix">
				<li data-ng-repeat="p in cont.photos">
					<a href="{{ p.link }}" title="See this on Instagram" target="_blank" class="photo-item photo-item-link">
						<div class="photo-item-details">
							<h2 data-ng-bind="p.caption.text | escapeHtml" data-ng-hide="p.caption.text == undefined"></h2>
							<!--
							<p class="photo-details">
								<span data-ng-bind="{{ p.likes.count }}"></span> likes,
								<span data-ng-bind="{{ p.comments.count }}"></span> comments,
								<span data-ng-bind="{{ p.dick }}"></span>
							</p>
							-->
						</div>
						<img src="img/unveilPlaceholder.gif" data-unveil-src="{{ p.images.standard_resolution.url }}" title="{{ p.caption.text }}" class="photo-item-img unveil" width="640" height="640">
					</a>
				</li>
			</ul>

			<div id="js-loading-spinner" class="loading-spinner">
				<img src="/img/loadingSpinner.gif" width="32" height="32" alt="Loading...">
			</div>

			<a id="js-load-more-btn" class="load-more-btn" data-ng-click="cont.getNextPage()">
				Load More
			</a>

		</section>

		<script src="js/main.js"></script>

	</body>
</html>