<!doctype html>
<html class="no-js" data-ng-app="eightdotthreeApp">
<head>
	{{> _meta }}

	<title>
		{{ title }}
	</title>

	{{> _fonts }}

	{{> _css-main }}

	{{> _js-modernizr }}
</head>

<body>

	{{> _site-header }}

	<section class="container-fluid" data-ng-controller="instagramController">

		{{ body }}

	</section>

	{{> _site-footer }}

	{{> _js-main }}

</body>

</html>