<!doctype html>
<html class="no-js" data-ng-app="eightdotthreeApp">
	<head>

		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<title>8.3</title>

		<link href="//fonts.googleapis.com/css?family=Roboto:400,500,700,300,400italic" rel="stylesheet" type="text/css" />

		<!-- build:css css/main.css -->
		<link rel="stylesheet" href="css/main.css" />
		<!-- endbuild -->

		<!-- build:js js/plugins/modernizr.js -->
		<script src="bower_components/modernizr/modernizr.js"></script>
		<!-- endbuild -->
	</head>

	<body>

		<header class="site-header">
			<h1>8.3</h1>
		</header>

		<section class="container-fluid" data-ng-controller="EightdotthreeController">

			<ul>
				<li data-ng-repeat="p in photos">
					<a href="{{ p.link }}" target="_blank" class="photo-item photo-item-link">
						<div class="photo-item-details">
							<h2 data-ng-html="{{ p.caption.text }}"></h2>
							<p>
								<span data-ng-bind="{{ p.likes.count }}"></span> likes,
								<span data-ng-bind="{{ p.comments.count }}"></span> comments,
								<span data-ng-bind="{{ p.filter }}"></span>
							</p>
						</div>
						<img data-ng-src="{{ p.images.standard_resolution.url }}" title="{{ p.caption.text }}" class="photo-item-img" />
					</a>
				</li>
			</ul>

			<!--
			<div>
				<a id="js-load-more-btn" class="load-more-btn" data-ng-click="getImages()">
					Load More
				</a>
			</div>
			-->

		</section>

		<!-- build:js(app) js/main.js -->
		<script src="bower_components/angular/angular.js"></script>
		<script src="js/eightdotthree.app.js"></script>
		<script src="js/eightdotthree.controller.js"></script>
		<script src="js/eightdotthree.filters.js"></script>
		<script src="js/instagram/instagram.services.js"></script>
		<!-- endbuild -->

	</body>
</html>