$fontsize: 16;
$default-fontsize: $fontsize;

//Basics
$white: #f7f7f7;
$black: #160e06;
$red: #ec2327;

$link-color: $red;

// fonts
$roboto: 'Roboto', sans-serif;

$sans-serif: $roboto, sans-serif;
