<div class="row">

	<ul class="photo-item-list clearfix">
		<li data-ng-repeat="photo in cont.photos">
			<a href="/#/media/detail/{{ photo.id }}" title="See this on Instagram" class="photo-item photo-item-link">
				<div class="photo-item-details">
					<h2 data-ng-bind="photo.caption.text | escapeHtml" data-ng-hide="photo.caption.text == undefined"></h2>
				</div>
				<img src="img/unveilPlaceholder.gif" data-unveil-src="{{ photo.images.standard_resolution.url }}" title="{{ photo.caption.text }}" class="photo-item-img unveil" width="640" height="640" />
			</a>
		</li>
	</ul>

	<!-- <div id="js-loading-spinner" class="loading-spinner" data-ng-show="cont.loading">
		<img src="/img/loadingSpinner.gif" width="32" height="32" alt="Loading..." />
	</div> -->

	<a id="js-load-more-btn" class="load-more-btn" data-ng-hide="cont.loading" data-ng-click="cont.getNextPage()">
		Load More
	</a>

</div>

<ui-view />