<div id="js-media-detail" class="media-detail modal fade">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<div class="modal-body">
	    		<h1>Detail</h1>
				<p>
					Hi, I am Ryan. I enjoy traveling, riding bikes, amusement parks, home brewing, and teaching <a href="//www.facebook.com/penelopepugdog">Penelope pug</a> the difference between good and evil. This is my website. You can also find me on <a href="//twitter.com/8dot3" title="Find me on Twitter">Twitter</a>, <a href="//instagram.com/8dot3/" title="Find me on Instagram">Instagram</a>, and <a href="//linkedin.com/ryansprake" title="Find me on LinkedIn">LinkedIn</a>.
				</p>
			</div>
    	</div>
	</div>
</div>